@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #6366f1;
  --primary-foncé: #4f46e5;
  --primary-clair: #eef2ff;
  --text-principal: #0f172a;
  --text-secondaire: #64748b;
  --background: #f8fafc;
  --background-clair: #ffffff;
  --border: #e2e8f0;
  --succes: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #3b82f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  header,
  main {
    background-color: var(--background-clair);
    padding: 2rem;
  }

  header .entete {
    font-size: 1rem;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
  }

  header .analytics {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.5rem;
  }

  .analytics h2,
  .features h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .analytics article {
    display: flex;
    gap: 2rem;
    background-color: var(--border);
    padding: 2rem;
    border-radius: 1.2rem;
  }

  article .icon i {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--primary-foncé);
    color: var(--primary-clair);
    border-radius: 50%;
  }

  article .stats__chiffre {
    padding: 0.5rem;
  }

  /*===================
  ===========
  ==MAIN======*/
  .features__filter {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.5rem;
    position: relative;
  }

  form input {
    border-radius: 0.5rem;
    padding: 12px 40px 12px 45px;
    border: 1px solid var(--border);
    outline: none;
    margin-bottom: 0.5rem;
  }

  form input:focus,
  form select:focus {
    border-color: var(--primary-foncé);
  }

  form .saisis {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 100px;
    pointer-events: none;
  }

  form select {
    border: 1px solid var(--border);
    margin-bottom: 0.5rem;
    padding: 12px 40px 12px 15px;
    border-radius: 0.7rem;
  }

  form button {
    border: none;
    background-color: var(--primary);
    padding: 1rem;
    color: var(--primary-clair);
    font-weight: 600;
    border-radius: 0.7rem;
    transition: 1s ease;
  }

  form button:hover {
    cursor: pointer;
    background-color: var(--primary-foncé);
  }

  .features__tri {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .features__tri button {
    border: none;
    background-color: var(--primary);
    padding: 0.7rem;
    color: var(--primary-clair);
    font-weight: 600;
    border-radius: 0.7rem;
  }

  .features__tri button:hover {
    cursor: pointer;
  }

  .features__tri .encours,
  .features__tri .terminee {
    background-color: var(--background);
    color: var(--text-principal);
    border: var(--border);
  }
  .features__tri .tous i {
    font-size: 1rem;
  }
  .features__tri .encours i {
    color: var(--warning);
    font-size: 1rem;
  }
  .features__tri .terminee i {
    color: var(--succes);
    font-size: 1rem;
  }

  /* =============================
  ======================
  ====TABLE */
  .tasks {
    margin-top: 2rem;
  }

  .table__form {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border);
  }

  .table__form td {
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    padding: 1rem;
  }

  .table__form td .item__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--border);
    border-radius: 1.2rem;
  }

  .badge .badge__haute {
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: var(--danger);
  }
  .badge .badge__moyenne {
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: var(--warning);
  }
  .badge .badge__basse {
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: var(--succes);
  }

  .badge .text__badgeHaute {
    color: var(--danger);
  }
  .badge .text__badgeMoyenne {
    color: var(--warning);
  }
  .badge .text__badgeBasse {
    color: var(--succes);
  }

  .action__group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
  }

  .action__group button {
    border: none;
    border: 1px solid var(--border);
    padding: 0.5rem;
    border-radius: 0.7rem;
  }
  .action__group button:hover {
    cursor: pointer;
  }

  .action__group button i {
    font-size: 1.2rem;
  }
}
